<%- include('../includes/head.ejs') %>
<script src="/js/stripe.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
            <li class="cart__item">
                <h1><%= p.productId.title %> @ €<%= p.productId.price %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
            </li>
            <% }) %>

        </ul>
        <div class="centered">
            <h2>Total: €<%= total %></h2>
        </div>
        <div class="centered">
            <form action="/create-order" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js"
                  class="stripe-button"
                  data-key="pk_test_E1ESvgit80GZ2VylW0qF35hH00CuiWskXj"
                  data-name="Magazine Payment"
                  data-description="Magazine purchase"
                  data-amount="<%= total * 100 %>"
                  data-currency="eur">
                </script>
              </form>
        </div>


    </main>
    <%- include('../includes/end.ejs') %>